@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito Sans', sans-serif;
    -webkit-font-smoothing: antialiased;
}

html {
    color-scheme: light;
    background: #fefffe;
}

body {
    background: #fefffe;
}

.title {
    font-size: 2rem;
    text-align: center;
    padding: 2rem .5rem;
    font-weight: 900;
    color:#34495e;
}

.login__form {
    display: flex;
    flex-direction: column;
    justify-content: center;    
    padding: 0px 90px;
    gap: 20px;
    max-width: 600px;
    margin: auto;
    color: #34495e;
    font-weight: 400 !important;
}

.login__form .email-field, 
.login__form .password-field, 
.login__form .confirm-password-field, 
.login__form .username-field {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.login__form .email-field input, 
.login__form .password-field input, 
.login__form .confirm-password-field input, 
.login__form .username-field input {
    height: 2rem;
    margin: .5rem 0;
    padding: .5rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.login__form input[type="submit"] {
    height: 2.6rem;
    margin: .5rem 0;
    padding: .5rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    background: #43b982;
    color: #fffdfd;
    font-weight: 600;
    cursor: pointer;
}

.messages .success {
    background-color: rgb(181, 206, 207);
    max-width: 520px;
    margin: 20px auto;
    padding: 10px 20px;
    border: solid thin rgb(130, 197, 200);
    border-radius: 5px; 
}

.messages .error {
    background-color: rgb(254, 213, 213);
    max-width: 520px;
    margin: 20px auto;
    padding: 10px 20px;
    border: solid thin rgb(200, 130, 130);
    border-radius: 5px; 
}