<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>HIRO - Your personal healthcare companion</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="description" content="Description" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, minimum-scale=1.0"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
    href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap"
    rel="stylesheet"/ > {% load static %}
    <link rel="stylesheet" href="{% static 'login.css' %}" />
  </head>
  <body>
    
    <h1 class="title">Login</h1>

    <form action="#" class="login__form">
        <div class="email-field">
            <label for="email">Email</label>
            <input type="email" name="email" placeholder="Enter your email" required>
        </div>
        <div class="password-field">
            <label for="password">Password</label>
            <input type="password" name="email" required>
        </div>
        <input type="submit" value="Login">
        <p>Don't have an account? <a href="signup.html">Sign up</a></p>
    </form>


  </body>
</html>
