@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/* Add a background color to the chat screen */
body {
    font-family: 'Roboto', sans-serif;
    background: #E8EBF5;
    background-size: cover;
    background-position: center center;
    /* font-smoothing: antialiased; */
}


#loading {
    font-size: 30px;
}

/* Style the chat box */
.chat-box {
    /* margin-top: 20px; */
    margin: 80px auto;
    width: 400px;
    max-width: 100%;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    /* max-height: calc(100vh - 250px); */
    /* height: calc(100vh - 250px); */
    height: 600px;
}


/* Style the chat box header */
.chat-box-header {
    background-color: #846c38;
    color: #ffffff;
    padding: 16px;
    font-size: 20px;
    font-weight: bold;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

/* Style the chat box body */
.chat-box-body {
    padding: 16px;
    overflow-y: auto;
    height: calc(100% - 145px);
}

/* Style the chat messages */
.chat-box-body .message,
.chat-box-body .response {
    margin-bottom: 16px;
    /* padding: 8px 16px; */
    /* border-radius: 8px; */
}


.message {
    color: rgb(44, 41, 41);
    font-family: Helvetica;
    font-size: 16px;
    font-weight: normal;
    text-align: right;
    clear: both;
}

.message span {
    line-height: 1.5em;
    display: inline-block;
    background: #F0EEED;
    padding: 20px;
    border-radius: 8px;
    border-bottom-right-radius: 2px;
    max-width: 80%;
    margin-right: 10px;
    animation: floatup .5s forwards
}

/* Style the chatbot's responses */
.response {
    color: white;
    font-family: Helvetica;
    font-weight: normal;
    font-size: 16px;
    text-align: left;
}

.response {
    line-height: 1.5em;
    display: inline-block;
    background: #0084ff;
    padding: 10px;
    border-radius: 8px;
    border-bottom-left-radius: 2px;
    max-width: 80%;
    margin-left: 10px;
    /* animation: floatup .5s forwards; */
}

/* Style the chat box footer */
.chat-box-footer {
    bottom: 0;
    display: flex;
    align-items: center;
    background-color: #846c38;
    border-top: 1px solid #846c38;
    padding: 8px 16px;
}

/* Style the input field */
.chat-box-footer input[type="text"] {
    flex: 1;
    padding: 8px;
    border: 1px solid #846c38;
    border-radius: 8px;
    font-size: 16px;
    outline: none;
}

/* Style the button */
.chat-box-footer button {
    margin-left: 8px;
    padding: 8px 16px;
    background-color: #0084ff;
    color: #ffffff;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

/* Add some hover effects to the button */
.chat-box-footer button:hover {
    background-color: #0073e6;
}

.chat-box-footer button:active {
    background-color: #005bbf;
}